# Example environment variables for the boilerplate
# Copy this file to .env.local and update with your actual values

# Public environment variable (accessible on client-side)
# Must be prefixed with NEXT_PUBLIC_ to be available in the browser
# Must be prefixed with EXPO_PUBLIC_ to be available on the mobile app
NEXT_PUBLIC_APP_NAME=Boilerplate 2026
NEXT_PUBLIC_VERSION=1.0.0

EXPO_PUBLIC_APP_NAME=Boilerplate 2026
EXPO_PUBLIC_VERSION=1.0.0

#App URLS
NEXT_PUBLIC_SITE_URL=http://lvh.me:3000
NEXT_PUBLIC_API_URL=http://api.lvh.me:3000

# Posthog
NEXT_PUBLIC_POSTHOG_KEY=YOUR_API_KEY
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# Convex
CONVEX_DEPLOYMENT=YOUR_CONVEX_DEPLOYMENT 

NEXT_PUBLIC_CONVEX_URL=https://YOUR_CONVEX_URL.convex.cloud
EXPO_PUBLIC_CONVEX_URL=https://YOUR_CONVEX_URL.convex.cloud